@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
	/* Brand colors */
	--brand-primary: #D2613A;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #FFB320;
  --brand-secondary--inverted: #3c1609;
	/* Typography */
	--font-family-sans-serif: 'Nunito';
	--font-size-base: 18px;
	--text-color: var(--brand-secondary--inverted);
	/* Main Navigation */
	--main-navigation-color: var(--brand-secondary);
	--main-navigation-color--inverted: var(--brand-secondary--inverted);
}